.sticky {
  position: fixed; top: 0; width: 100%;
  background-color: white;
}

.padding-right{
  margin-right: 5%;
  cursor: pointer;
}

.padding-left{
  margin-left: 5%;
  cursor: pointer;
}

.App {
  text-align: center;
  font-size: 35px;
  margin-top: 10%;
}

.App-title{
  font-size: 50px;
}

.App-subtitle {
  font-size: 45px;
  margin: 20px;
}

.App-smalltitle{
  font-size: 15px;
  padding-top: 5%;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
  display: inline;
  margin: 10px;
}

.center {
  padding-top: 2%;
  margin: 0 auto;
  display: block;
}

.undo {
  color: #0060B6;
  text-decoration: none;
}

.center-title{
  text-align: center;
  margin-top: 20%;
}

.footer {
  text-align: right;
  font-size: 10px;
  color: grey;
  margin-top: 20%;
  padding-bottom: 1%;
  padding-right: 1%;
}
